RECLAIM_APP_ID=
RECLAIM_APP_SECRET=
RECLAIM_PROVIDER_ID=
RECLAIM_PROVIDER_VERSION=1.0.0
RECLAIM_REQUIRE_TEE_ATTESTATION=false
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_EXPLORER_URL=https://testnet.stellarchain.io
STELLAR_RECEIPT_CONTRACT_ID=
STELLAR_RECLAIM_VERIFIER_CONTRACT_ID=CA3EMXR6JOOTNP44T3OAJFMMMGKRRETDJKBLZP2RU3SIY4SDFAH54DU5
STELLAR_RECLAIM_VERIFIER_FUNCTION_NAME=verify_proof
